.container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(9, 145, 99);
    padding: .7rem 1rem;
    color: white;
}

.icon {

    color: rgb(193, 194, 190);
}

.left_nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    font-weight: 600;
}

.left_nav li {
    cursor: pointer;
}

.iconbar {
    display: flex;
    gap: .3rem;
    font-weight: 500;
    align-items: center;
}

.iconbar_container {
    width: 40px;
    height: 40px;
    background: rgb(3, 124, 84);
    display: grid;
    place-items: center;
    border-radius: 50%;
    scale: 0.7;
}

.login_reg {
    display: flex;
    gap: 1rem;
}